<section class="posts-expand" id="posts">
{{#if post.length}}
{{#each post}}
<article class="post post-type-normal" style="opacity: 1; display: block; transform: translateY(0px);">
    <header class="post-header">
        <h1 class="post-title">
            <a class="post-title-link" href="/article/{{{sort}}}">
                {{{title}}}
            </a>
        </h1>
        <div class="post-meta">
            <span class="post-time">
                <span class="post-meta-item-icon">
                    <i class="fa fa-calendar-o">
                    </i>
                </span>
                <span class="post-meta-item-text">
                    Posted on
                </span>
                <time>
                    2017-04-09
                </time>
                |
                <span class="post-meta-item-icon">
                    <i class="fa fa-calendar-check-o">
                    </i>
                </span>
                <time>
                    2017-04-13
                </time>
            </span>
            <span class="post-category">
                |
                <span class="post-meta-item-icon">
                    <i class="fa fa-folder-o">
                    </i>
                </span>
                <span class="post-meta-item-text">
                    In
                </span>
                <span>
                    <a href="/categories/Android/">
                        <span itemprop="name">
                            Android
                        </span>
                    </a>
                </span>
            </span>
            <span class="leancloud_visitors">
                |
                <span class="post-meta-item-icon">
                    <i class="fa fa-eye">
                    </i>
                </span>
                <span class="post-meta-item-text">
                    Visitors
                </span>
                <span class="leancloud-visitors-count">
                    245
                </span>
            </span>
        </div>
    </header>
    <div class="post-body {{#if more}}abstract{{/if}}">
        {{{excerpt}}}
    </div>
    <div class="post-more-link text-center">
        <a class="btn" href="/article/{{{sort}}}" rel="contents">
            Read more »
        </a>
    </div>
    <footer class="post-footer">
        <div class="post-eof"></div>
    </footer>
</article>
{{/each}}
{{/if}}
</section>
<!-- 翻页 -->
<nav class="pagination">
    <ul>
        {{#if prev.disabled }}
            <li class="prer page disable">Prev</li>
        {{else}}
            <li class="prer page"><a href="/page/{{prev.url}}">Prev</a></li>
        {{/if}}
        
        {{#each page}}
        {{#if this.disabled }}
            <li class="para page disable curr">{{index}}</li>
        {{else}}
            <li class="para page"><a href="/page/{{index}}">{{index}}</a></li>
        {{/if}}
        {{/each}}
        {{#if next.disabled }}
            <li class="next page disable">Next</li>
        {{else}}
            <li class="next page"><a href="/page/{{next.url}}">Next</a></li>
        {{/if}}
    </ul>
</nav>